.title{
    margin-bottom: 10px;
    text-align:center;
    width: 303px;
    color:black;
    border: solid black 2px;
    height: 20px;
    font-size: 20px;

}

input[type="button"]
{
    background-color:#66b3ff;
    color: black;
    border: solid black 2px;
    /*width:100%;*/
    width: 70px;
    height:35px;
    font-size: 15px;

}

input[type="text"]
{
    background-color:white;
    border: solid black 2px;
    /*width:100%;*/
    width: 200px;
    height: 20px;
    margin-left: 8px;
    font-size: 20px;

}
body{
    padding-top: 50px;
    margin-left: 270px;

}

